<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="dataSource" class="org.h2.jdbcx.JdbcConnectionPool"
          destroy-method="dispose">
        <constructor-arg>
            <bean class="org.h2.jdbcx.JdbcDataSource">
                <!-- 内存模式 -->
                <property name="URL" value="jdbc:h2:mem:test" />
                <!-- 文件模式 -->
                <!-- <property name="URL" value="jdbc:h2:testRestDB" /> -->
                <property name="user" value="sa" />
                <property name="password" value="sa" />
            </bean>
        </constructor-arg>
    </bean>



    <!-- 配置hibernate 相关属性 -->
<!--    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        &lt;!&ndash; 注入连接池 &ndash;&gt;
        <property name="dataSource" ref="dataSource"></property>
        &lt;!&ndash; 加载hibernate配置文件 &ndash;&gt;
        <property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
    </bean>-->
</beans>